# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths: Projects/Go
  pull_request:
    branches: [ "main" ]
    paths: Projects/Go


jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - name: Build
      run: go build -v ./...
      working-directory: Projects/Go

    - name: Test
      run: go test -v ./...
      working-directory: Projects/Go
